@import '../../styles/variables';

.selected-skills {
    width: 100%; // Ensure the component fills the column
    // Other styles for the component
}

.skills-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
        width: 100%;
    }

    .cell {
        min-height: 50px;
        padding: 10px;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border: 1px solid #ddd;
        width: 100%; // Ensure cells also take full width

        .skill {
            user-select: none;
            padding: .375rem .75rem;
            background-color: #FFFFFF;
            border: 2px solid $primary;
            color: $primary;
            font-weight: bold;
            border-radius: .25rem;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            
            &:hover {
                color: #FFFFFF;
                background-color: $primary;
                border-color: darken($primary, 5%);
                text-decoration: none;
            }

            &:focus, &:active {
                box-shadow: 0 0 0 0.2rem rgba($primary, .5);
                outline: 0;
            }
        }
    }
}
