.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 20px; 
    box-sizing: border-box;
}
  
.login-box {
    width: 500px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}