@import '../../styles/variables';

.full-width {
    width: 100%;
}

.skills-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .row {
        display: grid;
        gap: 10px;
        width: 100%;

        // Bootstrap breakpoints for grid columns
        
        @media (max-width: 575.98px) { // xs screens
            grid-template-columns: repeat(1, 1fr);
        }
        @media (min-width: 576px) and (max-width: 767.98px) { // sm screens
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 768px) and (max-width: 991.98px) { // sm screens
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 992px) { // lg screens
            grid-template-columns: repeat(4, 1fr);
        } 
    }

    .cell {
        min-height: 50px;
        padding: 10px;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border: 1px solid #ddd;
        width: 100%;

        .skill {
            user-select: none;
            padding: .375rem .75rem;
            background-color: #FFFFFF;
            border: 1px dashed $primary;
            color: $primary;
            font-weight: bold;
            border-radius: .25rem;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            
            &:hover {
                color: #FFFFFF;
                background-color: $primary;
                border-color: darken($primary, 5%);
                text-decoration: none;
            }

            &:focus, &:active {
                box-shadow: 0 0 0 0.2rem rgba($primary, .5);
                outline: 0;
            }
        }
    }
}
