@import '../../styles/variables';

.cell {
    display: flex;
    flex-wrap: wrap; // Allow skills to wrap within the container
    gap: 10px; // Space between skills
    margin-bottom: 10px; // Space between rows

    .skill {
        user-select: none;
        padding: .375rem .75rem;
        background-color: #FFFFFF;
        border: 1px dashed $primary;
        color: $primary;
        font-weight: bold;
        border-radius: .25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        
        &:hover {
            color: #FFFFFF;
            background-color: $primary;
            border-color: darken($primary, 5%);
            text-decoration: none;
        }

        &:focus, &:active {
            box-shadow: 0 0 0 0.2rem rgba($primary, .5);
            outline: 0;
        }
    }
}

.skill-desination {
    background-color: $primary-500;
}

.skill-pool {
    background-color: var(--bs-gray-200);
}
