@import '../../styles/variables';

.cell {
    min-height: 50px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    margin-bottom: 10px; // Add space between cells

    .skill {
        user-select: none;
        padding: .375rem .75rem;
        background-color: #FFFFFF;
        border: 1px dashed $primary;
        color: $primary;
        font-weight: bold;
        border-radius: .25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        
        &:hover {
            color: #FFFFFF;
            background-color: $primary;
            border-color: darken($primary, 5%);
            text-decoration: none;
        }

        &:focus, &:active {
            box-shadow: 0 0 0 0.2rem rgba($primary, .5);
            outline: 0;
        }
    }
}
